body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


.jumbotron {
  height: 300px;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 0.5rem solid #6e14c8;
}

.jumbotron h1, .jumbotron p {
  position: relative;
  z-index: 2;
}

.jumbotron h1 {
  color: #6e14c8;
}

.fa-spinner {
  font-size: 1.5rem;
  color: #6e14c8;
  opacity: .8;
}

.background-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 292px;
  width: 100%;
  background-image: url("Assets/blank-composition-desk-display-317355.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 50%;
}

textarea{
  background: transparent;
  border: 1px solid #ced4da;
  resize: none;
  color: #000000;
  padding: 10px;
}

.row {
  white-space: pre-wrap;
  border: none;
}

.hour {
  width: 5rem;
  background-color: #3a3a3a;
  color: gainsboro;
  border: 1px solid #ced4da;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.past {
  border: 1px solid white;
  background-color: #E9ECEF;
  color: #707070;
}

.present {
  background-color: #047a00;
  color: white;
}

.future {
  background-color: #004b90;
  color: white;
}

.saveBtn {
  font-size: 1.5rem;
  border: 1px solid #ced4da;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #6e14c8;
  color: white;
  width: 5rem;
}

.saveBtn:hover {
  font-size: 1.5rem;
  border: 1px solid #ced4da;
  background-color: #8000ff;
  transition: all .3s ease-in-out;
}

.saveBtn:disabled {
  border: 1px solid #ced4da;
  background-color: #500c94;
  color: #707070;
}
